html , body{
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color:  #222;
}
.navbar-brand{
	margin: 0;
	padding: 0;
}
.navbar{
	padding: .8rem;
}
.navbar-nav li{
	padding-right: 20px;
}
.nav-link{
	font-size: 1.1em !important;
}
body a{
	color: #fff;
}
body a:hover{
	color: #eee;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
.btn-primary{
	background-color: #2b2b31;
	border: 1px solid #2b2b31;
}
.btn-primary:hover{
	background-color: #474d4c;
	border: 1px solid #474d4c;
}
.container {
    max-width: 960px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  .border-top-gray { border-top-color: #adb5bd; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
	.lh-condensed { line-height: 1.25; }
footer{
	width: 100%;
	background: #222;
	color: white;
}
footer hr{
	color: #fff;
}
.connect a{
	margin: 10px;
}
.fa-instagram:hover , .fa-twitter:hover ,.fa-facebook-square:hover {
	color: #d5d5d5;
}
